body {
    background-color: bisque;
    line-height: 1.6;
}

h1 {
    color: brown;
    font-style: italic;
}

.container {
    width: 55%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-around;
    text-decoration: underline black;
    color:crimson;
}

.title {
    color: white;
    background-color: crimson;
    border-radius: 8px;
    padding: 4px;
    display: inline;
}

.ao {
    text-align: right;
    font-size: 30px;
}